@import './main-style/ul-main.scss';

// It's a new main styles

//----- general styles (containers) -----


body {
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: var(--ul-bg-app);
	margin: 0;

	* {
		margin: 0;
	}
}

//
.ul-main__container {
	margin: 0;
	overflow-x: hidden;
	position: relative;
	background-color: var(--ul-bg-app) !important;
	height: 100vh;
    ::-webkit-scrollbar {
		display: none;
	}
}

//
.ul-wrapper {
	background-color: var(--ul-bg-app);
	height: 100vh;
	overflow-y: scroll;
	width: 100%;

	@include media(desktop-m) {
		width: calc(100% - 240px);
	}

	@include media(desktop-xl) {
		width: calc(100% - 270px);
	}

	margin-left: auto;
	display: block;
	//background-image: radial-gradient(circle closest-corner at 0% 50%, rgba(47, 143, 53, 0.041), hsla(0, 0%, 100%, 0));
}

//
.ul-main {
	height: auto;
	max-height: 95vh;
	overflow-y: scroll;
}

.ul-container {
    position: relative;
    padding: $spacer-s 5% 0.1px 5%;
    height: auto;
    overflow-y: scroll;
    @include media(tablet) {
        padding:$spacer-s 2.5% 0.1px 2.5%;;
    }
    @include media(desktop-xl) {
        padding: $spacer-m 2% 0.1px 2%;
    }
}

// button component classes

//special buttons
.ul-btn--icon {
	width: 1.8rem;
	height: 1.8rem;
	display: flex;
	align-self: center;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 0;
	text-decoration: none;
	cursor: pointer;
	color: var(--ul-txt-secondary);
	@include font-size($text-l);

	@include media(desktop-xl) {
		@include font-size($text-xl);
	}

	border-radius: 100%;
	padding: 0;

	&:hover {
		//change
		background-color: var(--ul-light-grey);
		color: var(--ul-txt-primary);
	}
}

.ul-btn--menu-dots{
	position: absolute;
	right: $spacer-s;
	top: $spacer-s;
}
.ul-btn-menu--float {
	position: absolute;
	background-color: var(--ul-light-grey);
	height: 2.2rem;
	width: 2.2rem;
	top: $spacer-xs;
	right: 2.5%;
	border-radius: $spacer-xxs;

	@include media(desktop-s) {
		right: 2%;
	}

	color: var(--ul-green);

	&:hover {
		opacity: 0.8;
	}

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $text-xxl+$spacer-xxs;
	z-index: 1;
	border: 0;
	cursor: pointer;

	@include media(desktop-m) {
		display: none;
	}
}

//head class

//// --- heading
.ul-head {
	font-family: var(--ul-font-primary);
	color: var(--ul-txt-primary);
}

//

////--- Widget styles

.ul-widget {
    border-radius: $spacer-xs;
    background-color: var(--ul-bg-card);
    height: auto;
    display: flex;
    flex-direction: column;
    &__header {
        padding: 1rem 1rem 0.5rem;
    }
    &__body{
        padding: 1rem;
    }
    &__footer {
        padding: 0 1rem 1rem 1rem;
    }
    &--height-100{
        height: 100vh !important;
        overflow: auto !important;
    }
}

///////////////////////////////////////////////////////////////////

//
.ul-btn--move-perfil {
	position: absolute;
	background: var(--ul-light-grey);
	color: var(--ul-txt-primary);
	bottom: $spacer-xs + 4px;
	right: $spacer-xs;
	border-radius: 100%;
	padding: $spacer-xs;
	border: 0;
	cursor: pointer;

	&:focus {
		background-color: var(--ul-dark-grey-1);
	}

	&:hover {
		background-color: var(--ul-light-grey-2);

	}
}

//
.ul-forward {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	left: calculateRem($spacer-xs);
	z-index: 1;
}

//



.ul-title-dash {
	font-size: $heading-xs;
	margin: $spacer-s 0;
	font-weight: normal;

	span {
		//font-weight: normal;
		color: var(--ul-green);
	}
}

/// ---- text sizes

//// --- Chips


.ul-chip {
	position: relative;
	padding: $spacer-xxs $spacer-xs;
	border-radius: $spacer-xs;
	text-transform: uppercase;
	font-size: $text-s - 3px;
	font-family: var(--ul-font-secondary);
	text-align: center;
	display: flex;
	gap: $spacer-xxs;
	align-items: center;
	justify-content: center;
	width: fit-content;
}

.ul-chip--blue {
	color: var(--ul-blue);
	background-color: var(--ul-blue-transparent);
}

.ul-chip--gray {
	color: var(--ul-txt-primary);
	background-color: var(--ul-light-grey);
}

.ul-chip--success {
	color: var(--ul-green-auxiliary);
	background-color: var(--ul-green-auxiliary-transparent);
}

.ul-chip--silver {
	color: var(--ul-txt-primary);
	background-color: var(--ul-light-grey);
}





// buttons


.ul-btn {
	height: auto;
	border-radius: $spacer-xxs;
	border: 1px solid var(--gray-normal);
	outline: 0;
	// @include box-shadow;
	padding: calculateRem($spacer-xs) $spacer-m !important;
	@include media(desktop-xxl) {
        padding: calculateRem($spacer-xs + 2px) $spacer-m !important;
    }
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: $spacer-xs;
	flex-wrap: $spacer-xxs;
	text-align: center;
	@include font-size($text-xs + 2px);

	@include media(desktop-m) {
		@include font-size($text-s);
	}

	cursor: pointer;
	font-family: var(--ul-font-secondary);
	font-weight: light;
	justify-content: center;
	width: 100%;

	@include media(desktop-s) {
		width: auto;
	}

	label,
	i,
	span {
		cursor: pointer;
	}

	&:hover {
		opacity: 0.8;
	}
}


.ul-btn-primary {
	border: 0;
	background: var(--ul-green);
	//background: linear-gradient(64deg, rgba(66, 173, 69, 0.817) 0%, rgba(36, 154, 204, 0.912) 100%);
	color: white;
	transition: all 0.15s;
	@include box-shadow2;

	&:focus {
		background: var(--ul-green);
	}

	&:hover {
		background: var(--ul-green);

	}
}


.ul-btn-secondary {
	border: 0;
	background-color: var(--ul-light-grey);
	color: var(--ul-txt-primary);
	transition: all 0.15s;
	//border: 1px solid var(--ul-dark-grey-1);
	@include box-shadow2;
}

.ul-btn-linear{
	border: 0;
	color: var(--ul-txt-primary);
	transition: all 0.15s;
	border: 1px solid var(--ul-dark-grey-1);
	@include box-shadow2;
	background-color: transparent;
	&:focus{
		background-color: var(--ul-light-grey) !important;
	}
}

.ul-btn--auxiliary {
	border: 0;
	background-color: var(--ul-light-grey);
	color: var(--ul-green);
	transition: all 0.15s;
	z-index: 1;
	&:focus {
		opacity: 0.7;
	}

	&:hover {
		opacity: 0.7;
	}
}


.ul-btn--close {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	color: var(--ul-txt-primary);
	border: none;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
	cursor: pointer;

	i,
	label {
		cursor: pointer;
	}

	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;

	&:hover {
		background-color: var(--ul-light-grey);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
	}
}

.ul-btn--float {
	display: flex;
	align-items: center;
	justify-content: center;
	width: $spacer-m + $spacer-xs;
	height: $spacer-m + $spacer-xs;
	background-color: var(--ul-bg-card-solid);
	border-radius: $spacer-xs !important;
	border: 0;
	cursor: pointer;
	border-radius: 100%;
	color: var(--ul-txt-primary);
	font-size: calculateRem($spacer-s);
	transition: all 0.15s;

	&:focus {
		color: var(--ul-green);
	}

	&:hover {
		color: var(--ul-green);
	}

	&:active {
		color: var(--ul-green);
	}

}

//blocked
.ul-btn--blocked {
	opacity: 0.5;
	cursor: not-allowed;
	&:hover{
		opacity: 0.5 !important;
	}
}

.ul-btn--light {
	background-color: transparent !important;
	display: flex;
	gap: $spacer-xs;
	text-align: center;
	cursor: pointer;
	color: var(--ul-txt-secondary);
	border: 1px solid var(--ul-light-grey-2) !important;
	border-radius: $spacer-xs;
	//font-size: calculateRem($text-s - 2px);
	padding: calculateRem($spacer-s - 6px);

	label,
	i {
		cursor: pointer;
	}

	&:hover {
		color: var(--ul-txt-primary);
	}
}


.ul-btn-text {
	padding: 0 !important;
	background: transparent;
	border: 0;
	margin: 0;
	display: flex;
	gap: $spacer-xs;
	cursor: pointer;

	i,
	label,
	span {
		cursor: pointer;
	}

	&:hover {
		color: var(--ul-txt-primary);
	}
}




/// --- inputs
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.ul-form {
	position: relative;
	border-radius: $spacer-xs;
	border: 1.5px solid var(--ul-form-color);
	padding: calculateRem($spacer-xs + 1px);
	@include font-size($text-xs + 2px);

	@include media(desktop-m) {
		@include font-size($text-s);
	}

	@include media(desktop-xxl) {
		@include font-size($text-m);
	}

	&::-webkit-input-placeholder {
		color: var(--ul-txt-secondary);
	}

	width: -webkit-fill-available;
	background-size: calculateRem($spacer-s + 6px);
	background-repeat: no-repeat;
	background-position: initial;
	background-position-y: center;
	background-position-x: $spacer-xs;
	transition: border-color 0.15s ease-in-out,
	box-shadow 0.15s ease-in-out;
	font-family: var(--ul-font-secondary);
	color: var(--ul-txt-primary);
	width: 100%;
	background-color: transparent;
	box-shadow: 0 0 1px 1px transparent;

	&:focus {
		outline: 0;
		border: 1.5px solid transparent !important;
		box-shadow: 0 0 1px 1px #1f85b1;
	}

	&--narrow {
		padding: $spacer-xxs !important;
		border-radius: $spacer-xxs;
	}

	&--bg {
		background-color: var(--ul-bg-card);
	}
}

.ul-form--blocked {
	background-color: var(--ul-bg-app);
	opacity: 0.6;
	cursor: not-allowed;

	&:focus {
		box-shadow: 0 0 1px 1px var(--ul-form-color) !important;
	}
}

.ul-form-icon {
	position: relative;

	&>input[type='text'],
	input[type='password'],
	select {
		//padding-left: calculateRem($spacer-m + 6px) !important;
		padding-right: calculateRem($spacer-m + 6px) !important;
	}
}

.ul-form-file {
	width: 100%;
	padding: $spacer-s;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: $spacer-xxs;
	border: dashed 2px var(--ul-blue);
	border-radius: $spacer-xs;
	background-color: var(--ul-blue-transparent);
	position: relative;

	input[type="file"] {
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
	}
}


.ul-form--error {
	border: 1px solid var(--ul-danger) !important;
	//background-color: var(--ul-danger-transparent) !important ;
	&:focus{
		border: 1px solid var(--ul-danger) !important;
		box-shadow: 0;
	}
}


/// --- link
.ul-link {
	color: var(--ul-blue);
	text-decoration: none;
	word-wrap: break-word;
	cursor: pointer;
	font-family: var(--ul-font-secondary);
	transition: 0.5;
	display: block;

	&:focus {
		color: var(--ul-blue-dark);
		text-decoration: underline;
	}

	&:active {
		color: var(--ul-blue-dark);
		text-decoration: underline;
	}

	&:hover {
		color: var(--ul-blue-dark);
		text-decoration: underline;
	}
}



/// --- switch

.--switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}

.--switch input {
	display: none;
}


.--slider {
	position: absolute;
	cursor: pointer;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--ul-light-grey);
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50px;
}

.--slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	border-radius: 50%;
	background-color: var(--ul-white);
	-webkit-transition: .4s;
	transition: .4s;
}

.--switch input:checked+.--slider .fa-check {
	display: block;
}

.--switch input:checked+.--slider .fa-times {
	display: none;
}

.--switch input:checked+.--slider {
	//background: var(--ul-blue-dark);
	background-image: linear-gradient(64deg, rgba(45, 126, 48, 0.507) 0%, rgba(24, 106, 141, 0.514) 100%);
	;
}

.--switch input:focus+.--slider {
	box-shadow: 0 0 1px #2f6d5b;
}

.--switch input:checked+.--slider:before {

	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}



// error pages
.ul-error-container {
	background-color: var(--ul-bg-app);
	width: 100%;
	height: 100vh;
	padding: $spacer-s;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: var(--ul-txt-primary);
	font-family: var(--ul-font-secondary);
	text-align: center;

	@include media(desktop-s) {
		height: 100vh;
	}

	.img-large {
		max-height: 20rem;
		max-width: auto;
		height: 16rem;
	}

	.head-xtra-lg {
		font-size: calculateRem($spacer-xxl + $spacer-s);
	}

	.head-lg {
		font-size: calculateRem($spacer-xl);
	}

	.ul-btn-circle--primary {
		background-color: var(--ul-green);
		color: white;
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		outline: 0;
		@include box-shadow;
		display: inline-block;
		border: 0;
		display: flex;
		flex-wrap: $spacer-xxs;
		text-align: center;
		@include font-size($text-l);
		cursor: pointer;
		font-family: var(--ul-font-secondary);
		font-weight: normal;
		justify-content: center;
		align-items: center;
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.11);

		&:focus {
			background-color: var(--ul-green-dark);
			transition: all 0.15s;
		}

		&:hover {
			background-color: var(--green-dark-2);
			transition: all 0.15s;
		}
	}
}



/* SPINNER  BUTTONS*/
.loader,
.loader:after {
	border-radius: 50%;
	width: 2em;
	height: 2em;
}

.loader {
	margin: 0 auto;
	font-size: 10px;
	position: relative;
	text-indent: -9em;
	border-top: 0.3em solid rgba(238, 251, 243, 0.2);
	border-right: 0.3em solid rgba(238, 251, 243, 0.2);
	border-bottom: 0.3em solid rgba(238, 251, 243, 0.2);
	border-left: 0.3em solid white;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


// search
.ul-bsearch {
	display: flex;
	position: relative;
	width: 100%;
	border-radius: $spacer-xxs;

	//padding: $spacer-xxs;
	input {
		padding-right: $spacer-xl;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		height: 100%;

		&:focus {
			box-shadow: 0;
		}
	}

	&__icon {
		position: absolute;
		right: $spacer-xs + 2px;
		color: var(--ul-txt-secondary);
		font-weight: $text-xl;
		top: 30%
	}

	button {
		position: absolute;
		right: $spacer-xs + 2px;
	}

	&__btn-search {
		border: 0;
		padding: $spacer-xs + 4px;
		background-color: var(--ul-blue);
		color: var(--ul-white);
		border-top-right-radius: $spacer-xs;
		border-bottom-right-radius: $spacer-xs;
		cursor: pointer;

		&:hover {
			background-color: var(--ul-blue-dark);
		}

		font-size: $text-s;

		@include media(desktop-xxl) {
			@include font-size($text-m);
			padding: $spacer-xs + 5px;
		}
	}

	&__container {
		display: flex;
		position: relative;
	}
}



body.dark{
	.ul-card__dropdown{
		box-shadow: unset;
	}
}

.ul-card{
    border-radius: $spacer-s - 2px;
    padding: calculateRem($spacer-s);
    @include media(desktop-m){
        padding: calculateRem($spacer-xs + 4px);
    }
    background-color: var(--ul-bg-card);
    &__header {
        margin-bottom: $spacer-xs;
        color: var(--ul-txt-primary);
    }
	&__dropdown{
		background-color: var(--ul-bg-card-solid);
		z-index: 2;
		border-radius: $spacer-xs;
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 3rem;
		right: $spacer-s;
		box-shadow: 0 6px 2px -5px rgba(0, 0, 0, 0.031), 0 9px 10px -1px var(--ul-light-grey);
		text-align: left;
		padding: $spacer-xxs - 2px;
		&__item{
			border-bottom: 1px solid var(--ul-light-grey);
			padding: $spacer-xxs;
			margin-bottom: 2px;
			&:last-child{
				border-bottom: 1px solid transparent;
				margin-bottom: 0;
			}
			&--danger{
				button{
					color:var(--ul-txt--danger);
					&:hover{
						background-color: var(--ul-danger-transparent) !important;
					}
				}
			}
			button{
				background-color: transparent;
				display: flex;
				justify-content: left;
				align-items: center;
				text-align: left;
				gap: $spacer-xs;
				border: 0;
				width: 100%;
				cursor: pointer;
				padding: $spacer-xs $spacer-m;
				//border-bottom: 1px solid var(--ul-light-grey);
				font-family: var(--ul-font-secondary);
				color: var(--ul-txt-secondary);
				border-radius: $spacer-xs;
				&:hover{
					background-color: var(--ul-bg-app-2);
				}

			}
		}

	}
}

.ul-card--clickable {
	cursor: pointer;

	&:hover {
		box-shadow: var(--ul-shadow) 3px 3px 8px 0px;
		background-color: var(--ul-bg-card-solid)
	}
}

// height

.ul-h--calc {
	@media (max-height: 599px) {
		height: 82vh;
	}

	@media (min-height: 600px) {
		height: 72vh;
	}

	@media (min-height: 700px) {
		height: 76vh
	}

	@media (min-height: 801px) {
		height: 79vh;
	}

	@media (min-height: 992px) {
		height: 82vh;
	}

	@media (min-height: 1100px) {
		height: 82vh;
	}

	@media (min-height: 1200px) {
		height: 81vh;
	}
}



.ul-modal-container {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #1b2735dc;
	pointer-events: none;
	justify-content: center;
	align-items: center;
	border-radius: 0;
	.ul-modal {
		background: var(--ul-bg-card-solid) !important;
		width: 90%;
		max-height: 90vh;
		border-radius: $spacer-xs;
		transition: transform 0.5s;
		transform: translateY(-50%);
		max-width: 500px;
		&__header__icon {
			color: var(--ul-txt--secondary);
			font-size: $spacer-m;
			cursor: pointer;
		}
		&__header{
			padding: $spacer-s;
		}
		&__body{
			padding: $spacer-s;
			overflow-y: auto;
			max-height: 69vh;
			&::-webkit-scrollbar{
				display: block !important;
				width: 10px;
			}
			&::-webkit-scrollbar-track{
				border-radius: calculateRem($spacer-xxs + 2px);
				background-color: var(--ul-bg-sidebar);
				width: 10px;
			}
			&::-webkit-scrollbar-thumb{
				border-radius: calculateRem($spacer-xxs + 2px);
				background-color: var(--ul-grey-scrollbar);
				width: 10px;
			}
			&::-webkit-scrollbar-button{
				border-radius: calculateRem($spacer-xxs);
				background-color: var(--ul-dark-grey-1);
				display: none;
			}
		}
		&__footer{
			padding: 0 $spacer-s $spacer-s;
		}
	}
}

.ul-modal--show {
	visibility: visible;
	pointer-events: auto;
	opacity: 1;
	.ul-modal {
		transform: translateY(0%);
	}
}
